.desktop-header {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
  padding: 0 40px;

  .titulo {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
  }

  nav {
    ul {
      align-items: center;
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        margin: 0 10px;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}
