.header-container {
  .desktop-header,
  .movile-header {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.2);
  }
  .titulo {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
  }

  nav {
    ul {
      align-items: center;
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        margin: 0 10px;
        position: relative;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .name {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .user-img {
          border-radius: 50%;
          overflow: hidden;
          @include cuadrado(40px);
          border: 3px solid #fff;

          img {
            @include cuadrado(40px);
          }
        }
      }
    }
  }

  .movile-header {
    padding: 0;
    nav {
      width: 100%;

      ul {
        padding: 0;
        justify-content: space-between;

        $margin: 40px;

        &.elements {
          display: grid;
          grid-template-columns: 1fr 4fr 1fr;
          justify-content: center;
          justify-items: center;
        }
        li {
          &:first-child {
            margin-left: $margin;
          }
          &:last-child {
            margin-right: $margin;
          }
        }
      }
    }
  }

  .fade-appear,
  .fade-enter {
    opacity: 0;
  }

  .fade-appear-active,
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
}

@media screen and (min-width: 800px) {
  .dashboard .movile-header {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .dashboard {
    .desktop-header {
      display: none;
    }
  }
}

@media screen and (max-width: 799px) {
  .dashboard {
    .desktop-header {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .header-container .movile-header nav ul.elements li {
    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 20px;
    }
  }
}
