.desktop-header {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.2);

  .titulo {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
  }

  nav {
    ul {
      align-items: center;
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        margin: 0 10px;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .name {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .user-img {
          border-radius: 50%;
          overflow: hidden;
          @include cuadrado(40px);

          img {
            @include cuadrado(40px);
          }
        }
      }
    }
  }

  .fade-appear,
  .fade-enter {
    opacity: 0;
  }

  .fade-appear-active,
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
}
