body,
#__next,
.container-all {
  background-color: #fff;
}

.btn-sesion {
  color: #fff;
  button {
    background-color: transparent;
    color: #fff;

    &:hover {
      color: $azul;
    }
  }
}

.container-input {
  border: 1px solid $border-color;

  &:hover {
    border: 1px solid $azul;
  }

  &.focus {
    border: 1px solid $azul;
  }

  input {
    background-color: transparent;
    color: #fff;
  }

  label {
    .icono {
      color: #fff;
    }
  }

  span.holder {
    background-color: $gris;
    color: #fff;
  }
}

.container-checkbox {
  @include center-y;
  cursor: pointer;
  max-width: 190px;

  display: grid;
  grid-template-columns: 1fr 7fr;

  &:hover {
    span {
      color: $azul;
    }
  }

  span {
    transition: 500ms ease all;
  }

  .icono {
    @include center;
    color: #fff;
    margin-left: 10px;
  }

  .text {
    color: #fff;
    margin-left: 24px;
    font-size: 18px;
    font-weight: 600;
  }

  @keyframes check-animation {
    0% {
      transform: scale(1);
      opacity: 0.2;
    }
    50% {
      transform: scale(1.3);
      color: $azul;
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  .animate {
    animation: check-animation 500ms forwards;
  }
}

.submit-container {
  @include center-x;
  height: 42px;
  position: relative;
  width: 100%;

  &,
  * {
    transition: 500ms ease all;
  }

  button {
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 10px;

    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    max-width: calc(333px / 1.5);
    outline: none;
    position: relative;
    width: 100%;

    &:active {
      background-color: rgba($azul, 7);
      transform: scale(0.9);
    }

    &:disabled {
      background-color: rgba($azul, 3);
    }

    &:focus {
      background-color: rgba($azul, 7);
    }

    &:hover {
      background-color: rgba($azul, 7);
    }
  }
}

.login {
  border: 1px solid #fff;
 

  form {

    .container-recovery {


      button {
        background-color: transparent;
        border: none;
        color: #fff;
       
        

        &:active {
          color: $azul;
         
        }
      }
    }
  }
}

.reset {

  .title {
    color: #fff;
  

    button {
      background-color: transparent;
      color: #fff;

      &.active {
        &:before {
          animation: circle 0.6s 0.6s forwards;
          border: 4px solid transparent;
        }
      }
    }

    hr {
      background-color: #d740da;
      border: 9px solid #fff !important;
    }
  }

  .container-reset {
    button {
      background-color: #fff;

      &:hover {
        background-color: $amarillo;
      }

      .icono {
        color: $gris;
      }
    }
  }

  .text-recovery {
    span {
      cursor: text;
      transition: all ease 500ms;
      &:active {
        transform: scale(1.3);
      }
    }
  }
}

@keyframes circle {
  0% {
    border-color: transparent;
    transform: rotate(0deg);
  }

  25% {
    border-color: transparent #fff transparent transparent;
  }

  50% {
    border-color: transparent #fff #fff transparent;
  }

  75% {
    border-color: transparent #fff #fff;
  }

  to {
    border-color: #fff;
    transform: rotate(-700deg);
  }
}

/* Logica para voltear la tarjeta */

.container-form-all {
  &.right-active {
    &.active {
      .right {
        animation: colorChange 1s forwards;
      }
    }

    .front {
      z-index: 1;
    }

    .right {
      @include height(500px);
    }
  }

  &.front-active {
    transform: rotateY(0deg);

    &.active {
      .front {
        animation: colorChange 1s forwards;
      }
    }

    .front {
      border: 1px solid #fff;
    }
  }

  &.left-active {
    .left {
      border: 1px solid #fff;
    }
  }

  .login,
  .register,
  .left {
    border: 1px solid #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  .left {
    .text-recovery {
      background-color: transparent;

      color: #fff;
    }
  }

  form {
    @include center-x;
  }
}

@keyframes colorChange {
  0% {
    border-color: #fff;
  }
  50% {
    border-color: $azul;
  }
  100% {
    border-color: #fff;
  }
}
