.container-input {
  /* display: flex;
    justify-content: center;
    align-items: center; */

  width: 100%;
  background-color: #d4a5a5;
  max-width: 333px;
  height: 42px;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 7fr;

  border-radius: 10px;
  /*  overflow: hidden; */

  * {
    /* border: 1px solid red; */
    transition: 500ms ease all;
  }

  &.focus {
    span.holder {
      top: 0;

      font-weight: 600;
      font-size: 14px;
    }
  }

  label {
    @include center;

    .icono {
      @include center;
      color: #fff;
    }
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    background-color: transparent;
    position: relative;
    font-weight: 600;
  }

  span.holder {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;

    &.has-content {
      top: 0 !important;

      font-weight: 600;
      font-size: 14px;
    }
  }
}
