@import "../components/css/main-content.scss";

.dashboard .container-main-content {
  margin-left: 250px;
  width: 100%;
  padding: 25px;
  overflow: hidden;
  overflow-y: auto;
  @include height(600px);
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
