.login {
  border: 1px solid #fff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 100%;

  form {
    @include center-x;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    padding: 40px;

    .container-recovery{
      @include center-x;
      
      button{
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        span{
          text-decoration: none;
        }
      }
    }
  }
}
