.footer-container {
  .desktop-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: inherit;

    button {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      li {
        list-style: none;
        margin: 0 10px;

        a {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .footer-container {
    .desktop-footer {
      display: grid;
      place-content: center;
      margin: 25px 0px;
      padding: 0;

      ul li {
        margin: 0 20px;
      }
    }
  }
}
