body {
  font-family: "Nunito", "Poppins", sans-serif;
}

.icono {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease;
}

@import "lib/normalize";
@import "../components/views/home/form/css/form";
@import "../components/layout/css/layout";
@import "../components/views/home/css/home";

@import "themes/theme";

/* .containerAll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #10111e;
} */
