body {
  font-family: "Nunito", "Poppins", sans-serif;
  background-color: #fff;
}

.icono {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

@import "lib/normalize.scss";
@import "../components/views/home/form/css/form.scss";

.containerAll {
 display: flex;
 justify-content: center;
 align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #5f659d;
}
