
// centrar elementos
@mixin center {
    display: grid;
    place-content: center;
  }
  
  @mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin center-x {
    display: flex;
    justify-content: center;
  }
  
  @mixin center-y {
    display: flex;
    align-items: center;
  }
  
  // width absoluto
  @mixin width($size) {
    width: $size;
    min-width: $size;
    max-width: $size;
  }
  
  // height absoluto
  @mixin height($size) {
    height: $size;
    min-height: $size;
    max-height: $size;
  }