@import "./global/variables";
@import "./global/mixin";

@import "../sidebar/css/sideBar";
@import "../sidebar/css/sideBarMiniMenu";
@import "../mainContent/components/css/main-content.scss";

.dashboard {
  @include center-x;
  overflow: hidden;

  * {
    transition: all 0.5s ease;
  }

  .container-dashboard-all {
    min-width: 1200px;
    min-height: 600px;
    border: 1px solid #fff;
    border-radius: $border-radius;

    display: flex;
    overflow: hidden;
    position: relative;

    box-shadow: $box-shadow;

    /* &.active{
      
    } */
  }
}

/* responsiv */

@include between(768px, 1220px) {
  .dashboard {
    .container-dashboard-all {
      @include width(100%);

      min-width: 90vw;
    }
  }
}

@include between(799px, 840px) {
  .dashboard .container-main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 840px) {
  .dashboard {
    &.container-all main {
      margin: 0;
    }
    .container-dashboard-all {
      min-width: 99vw;
      background-color: transparent;
      border: 1px solid transparent;
      box-shadow: none;
    }
    .container-main-content {
      background-color: transparent;
    }
  }
}


