.dashboard {
  .container-aside {
    @include width(240px);

    position: absolute;
    left: 0;
    height: 100%;
    box-shadow: $box-shadow;
    border-right: $border;
    background-color: #0e0f1a;
    .sidebar {
      display: flex;

      flex-direction: column;
      align-items: center;

      padding-top: 25px;

      nav {
        width: 90%;
      }

      ul {
        &.container-lists {
          display: grid;

          margin-top: 0;
          padding-left: 0;
        }
        li {
          list-style: none;
        }
      }

      .lista {
        .section {
          color: $text-color;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 10px 0;
          display: flex;
          align-items: center;
          background-color: rgba($azul, 0.3);

          width: 100%;
          height: 35px;
          

          border: 1px solid rgba($azul, 1);

          /* a */
          border-radius: $border-radius;
          cursor: initial;
          &.active {
            cursor: pointer;
            margin-top: 0;
          }

          .icono {
            margin-right: 7px;
            @include center-flex;
            position: relative;
            top: -2px;
          }
        }

        .group-element {
          margin-left: 15px;

          padding-left: 0px;
          .element {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;

            text-align: left;
            height: 35px;

            @include center-y;

            color: $text-color;

            width: 100%;
            border-radius: $border-radius;

            &:hover {
              background-color: rgba($azul, 0.5);
            }
            .icono {
              margin-right: 7px;
              @include center-flex;
              position: relative;
              top: -2px;
            }

            .text {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
