@media screen and (min-width: 1100px) {
  .dashboard .login.container-nota-estudiante form {
    grid-template-columns: 1fr;
  }
}

.container-nota-estudiante {
  max-width: 100% !important;

  form {
    justify-items: center;
  }

  .container-notas {
    /*  display: grid;
    row-gap: 20px; */

    > div {
      margin-bottom: 20px;
    }

    .nota-titulo {
      grid-template-columns: 2.5fr 2fr 1fr;
      display: grid;

      font-size: 18px;
      font-weight: 600;
      background-color: transparent;
      color: #3d65fd;
    }
  }

  .container-input {
    $size: 100%;
    min-width: $size;
    max-width: $size;

    select {
      width: 97%;
    }
  }

  .item-enter {
    opacity: 0;
    transform: translateY(-20px);
  }

  .item-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;

    display: grid;
    grid-template-columns: 2.5fr 2fr 1fr;
    align-items: center;
    gap: 10px;
  }

  .item-enter-done {
    display: grid;
    grid-template-columns: 2.5fr 2fr 1fr;
    align-items: center;
    gap: 10px;
  }

  .nota-input {
    label {
      font-size: 18px;
      font-weight: 600;
      background-color: transparent;
      color: #3d65fd;
    }

    .container-input {
      $size: 60px;
      min-width: $size;
      max-width: $size;

      grid-template-columns: 1fr;
      display: flex;
      justify-content: center;

      label,
      .holder {
        display: none;
      }

      input {
        text-align: center;
        padding: 0;
        appearance: none; // Propiedad estándar
        -webkit-appearance: none; // Para Safari y Chrome
        -moz-appearance: textfield; // Para Firefox
        margin: 0;
      }
    }
  }
}
