.dashboard {
  * {
    transition: all 0.5s ease;
  }

  .container-main {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 35px;

    .main {
      @include cuadrado(250px, 200px);

      button {
        background-color: rgba($azul, 0.3);
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        border: $border;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        display: flex;
        overflow: hidden;

        flex-direction: column;
        align-items: center;

        justify-content: flex-start;

        &:hover {
          background-color: rgba($azul, 0.6);

          .container-text {
            .text {
              color: $azul;
            }
          }
        }

        &:active {
          background-color: rgba($azul, 0.9);
          transform: scale(0.9);
        }
        .container-icono {
          margin-top: 20px;
        }

        .container-text {
          margin-top: 10px;
          display: flex;
          justify-content: center;

          .text {
            font-size: 15px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            position: absolute;
            bottom: 20px;
          }
        }
      }
    }
  }
}
